node_modules
.vscode
.idea
.DS_Store
.env
.env.development
.env.production
.env.test
.env.development.local
.env.production.local
.env.test.local
.env.development.local.backup
.env.production.local.backup
.env.test.local.backup
.env.development.local.backup.2021-09
